<footer class="footer">
  <div class="container">
    <div class="footer-brand">Nathi Solutions</div>
    <ul class="footer-menu">
      <li><a href="#home">Home</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#experience">Experience</a></li>
      <li><a href="#services">Services</a></li>
      <li><a href="#portfolio">Portfolio</a></li>
      <li><a href="#courses">Courses</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
    <div class="footer-social">
      <a href="https://facebook.com/" target="_blank">Facebook</a>
      <a href="https://instagram.com/" target="_blank">Instagram</a>
      <a href="https://twitter.com/" target="_blank">Twitter</a>
    </div>
    <p class="copyright">© Nathi Solutions. All rights reserved.</p>
  </div>
</footer>
